$color-primary: hsl(223, 87%, 63%);

$color-secondary-light: hsl(223, 100%, 88%);
$color-secondary-dark: hsl(354, 100%, 66%);

$color-neutral-light: hsl(0, 0%, 59%);
$color-neutral-dark: hsl(209, 33%, 12%);

$fs-heading: 1.25rem;
$fs-default: 1rem;

$ff-default: "Libre Franklin", sans-serif;

$fw-light: 300;
$fw-default: 600;
$fw-bold: 700;
