.inputBox {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 50px;
  outline: none;
  border: 1px solid $color-secondary-light;
  color: $color-neutral-dark;

  &::placeholder {
    font-family: $ff-default;
    color: $color-secondary-light;
  }
}

.inputBox-error {
  border: 1px solid $color-secondary-dark;

  &::placeholder {
    color: $color-secondary-dark;
  }
}
